* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  background-image: url(../image/header_bg-16b933a63f94b28290d368006e6a4901530e656b79339c9ed6de9321eb73a30a.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header .header {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
header .header .logo {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: flex-end;
}
header .header .logo h1 {
  display: flex;
  font-size: 30px;
  color: #fff;
  align-items: baseline;
}
header .header .logo h2 {
  background-image: url(../image/xb64.webp);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
}
header .header nav ul {
  display: flex;
}
header .header nav ul li {
  margin-left: 20px;
}
header .header nav ul li a {
  color: #fff;
}
header .header nav ul li i {
  color: #fff;
  font-size: 25px;
}
header .header .search-container {
  margin-left: 20px;
  width: 180px;
  height: 35px;
  border: 1px solid #ccc;
  display: flex;
}
header .header .search-container form {
  display: flex;
}
header .header .search-container form input {
  background: transparent;
  color: #fff;
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  margin-left: 1px 0px;
  align-items: center;
}
header .header .search-container form button {
  display: flex;
  background: transparent;
  width: 20%;
  height: 35px;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
header .menu {
  z-index: 1;
  align-items: center;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(66, 65, 65);
  justify-content: center;
}
header .menu .items {
  justify-content: center;
  width: 80%;
  display: flex;
}
header .menu .items li {
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}
header .menu .items li a {
  color: #fff;
}
header .mobile-header {
  background-image: url(../image/header_bg-16b933a63f94b28290d368006e6a4901530e656b79339c9ed6de9321eb73a30a.webp);
  width: 400px;
  display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  position: relative;
}
header .mobile-header .mobile-menu-bar {
  display: flex;
}
header .mobile-header .mobile-logo {
  display: flex;
}
header .mobile-header .mobile-search-logo {
  display: flex;
}

@media screen and (max-width: 600px) {
  header .header {
    display: none;
  }
  header .header nav {
    display: none;
  }
  header .header .social {
    display: none;
  }
  header .header .search-container {
    display: none;
  }
  header .menu {
    display: none;
  }
  header .mobile-header {
    display: block !important;
  }
}
.container {
  max-width: 60%;
  margin: 0 auto;
}

#main-card {
  width: 100%;
  margin-top: 65px;
  justify-content: center;
}
#main-card .top-card {
  height: 450px;
  width: 650px;
  border: 1px solid rgb(245, 11, 11);
  margin-bottom: 25px;
}
#main-card .top-card img {
  width: 100%;
  height: 70%;
}
#main-card .box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
  /* background-color: gray; */
  /* border: 1px solid rgb(31, 17, 17); */
}
#main-card .box .card {
  width: 310px;
  height: 350px;
  border: 1px solid rgb(39, 23, 23);
  margin-bottom: 25px;
}
#main-card .box .card img {
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 500px) {
  main #main-card .top-card {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */